*{
    margin: 0px;
    padding: 0px;
}
#stran{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center; 
}
#okno{
    height: 290px;
    width: 306px;
    margin: 50px 0 0 0;
    padding: 24px;
    border: 1px solid #ebebeb;
    border-radius: 3%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, .04);
}
#ikonaSnap{
    width: 100%;
    display: flex;
    justify-content: center;
}
div #ikona{
    height: 60px;
    width: 60px;    
}
div #text{
    padding-top: 20px;
    font-size: 25px;
    font-family: 'Nunito', sans-serif;
    text-align: center;
}
div #info{
    padding-top: 30px;
    width: 100%;
    height: 30%;
    font: 13px;
    font-family: 'Nunito', sans-serif;
    color: rgb(101 107 115);   
}
div #uporabnisko{
    padding-top: 10px;
    width: 100%;
    height: 50px;
}
#upoMail{
    border: 1px solid rgb(101 107 115);
    width: 92%;
    height: 35px;
    padding: 5px 10px;
    border-radius: 5px;
}
#upoMail:hover{
    border: 1px solid #eecc0e;
}
#telLink{
    display: flex;
    justify-content: center;
}
#telSt{
    font-size: 15px;
    font-family: 'Nunito', sans-serif;
    font-weight: bold;
    color: #0ea0ee;
}
#telSt:hover{
    font-size: 15px;
    font-family: 'Nunito', sans-serif;
    font-weight: bold;
    color: #0ea0ee;
    cursor: pointer;
}
#gumbContainer{
    padding-top: 15px;
    height: 40px;
    display: flex;
    justify-content: center;
}
#gumb{
    width: 25%;
    border: 0px;
    border-radius: 30px;
    background-color: #0ea0ee;
    color: white;
}
#signUpContainer{
    width: 306px;
    padding-top: 20px;
    text-align: center;
    font-size: 15px;
    font-family: 'Nunito', sans-serif;
}
.klikniLink:hover{
    cursor: pointer;
}
#noga{
    width: 100%;
    height: 300px;
    margin-top: 15%;
    padding: 20px 0 0 0;
    background-color: rgb(247, 247, 247);
    display: flex;
    justify-content: center;
    font-family: 'Nunito', sans-serif;
    font-size: 15px;
}
.stolpec{
    width: 15%; height: auto;
}
.glava{
    padding-bottom: 10px;
}
.vsebina{
    line-height: 20px;
}
#glavaLanguage{
    padding: 50px 0 20px;
}