*{
    margin: 0px;
    padding: 0px;
}
a{
    text-decoration: none;
}
#stran{
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center; 
    flex-grow: 1;
    box-sizing: border-box;
}
#okno{
    height: auto;
    width: 306px;
    margin-top: 50px;
    padding: 24px;
    border: 1px solid #ebebeb;
    border-radius: 3%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, .04);
}
#ikonaSnap{
    width: 100%;
    display: flex;
    justify-content: center;
}
div #ikona{
    height: 60px;
    width: 60px;    
}
div #text{
    padding-top: 20px;
    font-size: 25px;
    font-family: 'Nunito', sans-serif;
    text-align: center;
}
#mailContainer{
    width: auto;
    height: 40px;
    margin: 15px auto;
    padding: 30px;
    border: 1px solid rgb(231, 231, 231);
    padding: 5px 10px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#mail{
    width: 50%;
    font-size: 15px;
    font-weight: bold;
}
#notYou{ 
    color: #0ea0ee;
    font-size: 15px;
    font-weight: bold;
}
#notYou:hover{ 
    cursor: pointer;
}
div #info{
    margin-top: 20px;
    width: 100%;
    height: 30%;
    font: 13px;
    font-family: 'Nunito', sans-serif;
    color: rgb(101 107 115);   
}
div #gesloContainer{
    padding-top: 10px;
    width: 100%;
    height: 50px;
}
#gesloInput{
    border: 1px solid rgb(231, 231, 231);
    width: 92%;
    height: 35px;
    padding: 5px 10px;
    border-radius: 5px;
}
#gesloInput:hover{
    border: 1px solid #eecc0e;
}
#gesloLink{
    display: flex;
    justify-content: center;
}
#pozabljenoGeslo{
    margin-top: 10px;
    font-size: 15px;
    font-family: 'Nunito', sans-serif;
    font-weight: bold;
    color: #0ea0ee;
}
#pozabljenoGeslo:hover{
    font-size: 15px;
    font-family: 'Nunito', sans-serif;
    font-weight: bold;
    color: #0e82ee;
    cursor: pointer;
}
#gumbContainer{
    padding-top: 15px;
    height: 40px;
    display: flex;
    justify-content: center;
}
#gumbNext{
    width: 25%;
    border: 0px;
    border-radius: 30px;
    background-color: #0ea0ee;
    color: white;
}
#gumbNext:hover{    
    background-color: #0e82ee;
    color: white;
    cursor: pointer;
}
#signUpContainer{
    width: 306px;
    padding-top: 20px;
    text-align: center;
    font-size: 15px;
    font-family: 'Nunito', sans-serif;
    flex-grow: 1;
}
a, #signUp{
    color: black; 
 }
#noga{
    width: 100%;
    height: 230px;
    padding: 20px 0 20px;
    background-color: rgb(247, 247, 247);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Nunito', sans-serif;
    font-size: 15px;
}
#vsebinaNoge{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
}
.stolpec{
    width: 15%;
    height: 100%;
    
}
.glava{
    padding-bottom: 10px;
}
.vsebina{
    line-height: 20px;
}
.vsebina:hover{
    cursor: pointer;
}
#glavaLanguage{
    padding: 30px 0 10px;
}
#jeziki {
  width: 220px;
  height: 36px;
  padding: 6px 10px;
  font-family: 'Nunito', sans-serif;
  font-size: 14px;
  color: #333;
  border: 1px solid #d1d1d1;
  border-radius: 6px;
  background-color: #f9f9f9;
  appearance: none;
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" fill="%23666"><polygon points="0,0 10,0 5,5"/></svg>');
  background-repeat: no-repeat;
  background-position: right 10px center;
  background-size: 10px;
  cursor: pointer;
}
#spodnjiPas{
    width: 100%;
    height: 55px;
    background-color: rgba(32, 32, 32, 0.945);
}
#spodnjiPasVsebina{
    display: flex;
    align-items: center;
    color: white;
    font-family: 'Nunito', sans-serif;
    font-size: 15px;
    padding-left: 20%;
    padding-top: 20px;
    gap: 30px; 
}
.gumb:hover{
    cursor: pointer;
}